<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="consumerKey" value="ashm7aksmgqmx8w5atatrnh6" />
		<add key="consumerSecret" value="y4R62SPJNF" />
		<add key="accessToken" value="mev3b4ysg5q76ca7mt6axh4tmxdz2yrjwzs7tqa7499kk4vhbh92dyy5xjrd34kq" />
		<add key="accessSecret" value="jUEF8Zt8xVZ7" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>